fastapi
uvicorn[standard]
httpx
pydantic
redis
numpy
sentence-transformers
torch
torchvision
torchaudio
python-dotenv
safetensors
pydantic-settings
sentence-transformers
google-generativeai
sqlalchemy
psycopg2-binary
python-multipart